* {
    font-family: 'Open Sans', sans-serif;
}

pre {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: .5rem;
}

body {
    background: #0575E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron {
    text-align: center;
    padding: 5px;
}

#logo {
    height: 150px;
}

.card-body {
    text-align: center;
}

h1 {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 40px;
    line-height: .5em;
    margin-top: .3em;
    margin-bottom: .3em;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

#word-text {
    font-weight: bold;
    color: #0575E6;
}

h4 {
    font-size: 16px;
}

#wrong-guesses-text,
#guesses-left-text {
    color: rgb(255, 98, 0);
    font-size: 25px;
    font-weight: bold;
}